* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Verela Round', sans-serif;
	line-height: 1.6;
	margin: 0;
	display: block;
	
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h1,
h2,
h3,
a {
	color: #093a58;
}

h1{

margin-top: 1em;
font-size: 1.5em;

}

.paragraph {

    padding-top: 1.5em;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}
	
	.main-nav a {
		font-size: .95em;
		color: #3acec2;
		text-transform: uppercase;
	}

	.main-nav a:hover {
		color: #093a58;
	}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
    padding-bottom: .5em;
    
}

.portfolio,
.main-footer {
	text-align: center;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}
.namefooter {
	text-align: left;
	float: left;
}
.Top {
	text-align: right;
	float: right;
}
/* Page Elements */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 1.5em;
}

.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: initial;
    background-image: image("img/responsive-layout-profile.png")
}

.searchpage {

padding-top: 1em;
font-size: 1.2em;
}

	.contact {
		text-align: center;
	}
	h2 {

		text-align: center;
	}

	.full {
		display: none;

	}
/* Media Queries */

@media (min-width: 768px) {

	.Top {
		display: none;

	}
	.full {
		display: inline;

	}
	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.col{
		min-height: 350px;

	}
	
	.first {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}
   .profile {
       float: right;
       clear: right;
   }
   .text {
      clear: left;
       text-align: left;
       padding-left: 1em;
      font-size: 1.5em;
      
      
   }
.Map {


float: left;
clear: left;
}
   
.photo{
clear: left;
float: left;
    
   
}

   .search {

    padding: 1em;
   }
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1024px) {
	
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.first {
		width: 30%;
	}

}